.single_main_contents {
    h2 {
        margin: 2em 0 1em 0;
        position: relative;
        padding: 1rem 2rem calc(1rem + 10px);
        background: #fff100;
        // text-shadow: #fff 2px 0, #fff -2px 0, #fff 0 -2px, #fff 0 2px, #fff 2px 2px, #fff -2px 2px, #fff 2px -2px,
        //     #fff -2px -2px, #fff 1px 2px, #fff -1px 2px, #fff 1px -2px, #fff -1px -2px, #fff 2px 1px, #fff -2px 1px,
        //     #fff 2px -1px, #fff -2px -1px, rgba(0, 0, 0, 0.5) 3px 3px 3px;

        &:before {
            position: absolute;
            top: -7px;
            left: -7px;
            width: 100%;
            height: 100%;
            content: "";
            border: 4px solid #000;
        }
    }

    h3 {
        padding: 0.5em; /*文字周りの余白*/
        background: #fffdf4; /*背景色*/
        border-left: solid 5px #fff100; /*左線（実線 太さ 色）*/
    }

    h4 {
        padding: 1rem 1rem;
        background: #fff0d9;
        color: #2d2d2d;
        line-height: 1.3;
        border-bottom: solid 3px orange;
        z-index: -2;
    }

    h5 {
        padding: 1rem 1rem;
        background-color: rgba(165, 210, 255, 0.4);
        background-image: linear-gradient(90deg, rgba(165, 210, 255, 0.3) 50%, transparent 50%),
            linear-gradient(rgba(165, 210, 255, 0.3) 50%, transparent 50%);
        background-size: 40px 40px;
    }

    h6 {
        position: relative;
        background: #f1f8ff;
        padding: 0.25em 0.5em;
        border-left: solid 2em #5c9ee7;

        &:before {
            font-family: "Font Awesome 5 Free";
            content: "\f303";
            position: absolute;
            padding: 0em;
            color: white;
            font-weight: 900;
            left: -1.35em;
            top: 50%;
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
        }
    }

    .comment-respond {
        h3 {
            position: relative;
            padding: 0.25em 0.5em;
            padding-left: 1.8em;
            &:before {
                font-family: "Font Awesome 5 Free";
                content: "\f075";
                position: absolute;
                padding: 0em;
                color: black;
                font-weight: 900;
                left: 1%;
                top: 50%;
                -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
            }
        }
    }
}
